body{
  margin: 0;
  background-image: url(colors.svg);
  // background-size: 10%;
  // background-repeat: round;
  width: 100%;
  height: 100vh;
  display: flex;
  // background-color: greenyellow;
}

.T{
  width: 750px;
  // overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  z-index: 9;
  // opacity: 0;
}

.O{
  width: 1200px;
  // overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -50px;
  // background-image: url(colors.svg);
  position: absolute;
  // background-color: red;
  left: 800px;
}


.T img{
  width: 20000px;
  height: 100px;
  object-fit: cover;
  transform: translateX(0);
  margin-bottom: -4px;
  animation: mymove 2s infinite linear alternate;
}

.T img:nth-child(1){
  margin-left: -400px;
}

.T img:nth-child(2){
  margin-left: -1646px;
}

.T img:nth-child(3){
  margin-left: -2892px;
  height: 300px;
}


.T img:nth-child(4){
  margin-left: -4135px;
}

.O img{
  width: 3200px;
  height: 40px;
  object-fit: cover;
  transform: translateX(0px);
  margin-bottom: -4px;
  animation: mymove2 2s infinite linear alternate;
}

.O img:nth-child(1), .O img:nth-child(7){
  margin-left: 260px;
}

.O img:nth-child(2), .O img:nth-child(6){
  margin-left: -470px;
}

.O img:nth-child(3), .O img:nth-child(5){
  margin-left: -1185px;
}

.O img:nth-child(4){
  margin-left: -2593px;
  height: 350px;
}



@for $i from 1 through 4 {
  .T img:nth-child(3n + #{$i}) {
    animation-delay: 0.1s * $i ;
  }
  .T img:nth-child(3n + #{$i + 1}) {
    animation-delay: -0.1s * $i ;
  }
  .T img:nth-child(3n + #{$i + 2}) {
    animation-delay: -0.2s * $i ;
  }
}

@keyframes mymove {
  0% {transform: translateX(0)}
  100% {transform: translateX(500px) translateY(-100px)}
  // 75% {transform: translateX(0px)}
  // 100% {transform: translateX(-600px) translateY(0px)}
}

@for $i from 1 through 7 {
  .O img:nth-child(3n + #{$i}) {
    animation-delay: 0.1s * $i ;
  }
  .O img:nth-child(3n + #{$i + 1}) {
    animation-delay: -0.1s * $i ;
  }
  .O img:nth-child(3n + #{$i + 2}) {
    animation-delay: -0.2s * $i ;
  }
}

@keyframes mymove2 {
  0% {transform: translateX(0px)}
  100% {transform: translateX(-500px) translateY(100px)}
  // 75% {transform: translateX(0px)}
  // 100% {transform: translateX(600px) translateY(0px)}
}