body{
  margin: 0;
}

.T{
  width: 200px;
  overflow: hidden;
  // background-color: red;
}

.T div{
  // border: 1px solid black;
  /* filter: contrast(2) grayscale(1); */
}

.T div{
  height: 3px;
  width: 4000px;
  transform: translateX(0);
  background-image: url(black-strokes-T.svg);
  animation: mymove 0.3s infinite ease alternate;
  background-repeat: no-repeat;
  background-size: 100%;
  // filter: grayscale(1) contrast(2);
  // mix-blend-mode: multiply;
  position: relative;
  &::before{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: -50%;
    top: 0;
    // background-image: url(colors.svg);
    background-repeat: repeat;
    background-size: 4%;
    mix-blend-mode: multiply;
  }
}

.T div:nth-child(1n){
  margin-left: 40px;
}

.T div:nth-child(1n + 9){
  margin-left: -220px;
}

.T div:nth-child(1n + 18){
  margin-left: -480px;
}

.T div:nth-child(1n + 40){
  margin-left: -740px;
}

@for $i from 1 through 50 {
  .T div:nth-child(2n + #{$i}) {
    animation-delay: 0.1s * $i ;
  }
  .T div:nth-child(2n + #{$i + 1}) {
    animation-delay: -0.1s * $i ;
  }
}

@keyframes mymove {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50px)}
}