body{
  margin: 0;
}

.T{
  width: 200px;
  overflow: hidden;
}

.T div{
  // border: 1px solid black;
  /* filter: contrast(2) grayscale(1); */
}

.T div{
  height: 3px;
  width: 4000px;
  background-image: url(Stroke-T-new.svg);
  animation: mymove 1s infinite linear;
  // animation-duration: 20s;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(1) contrast(2);
}

.T div:nth-child(1n + 9){
  margin-left: -250px;
}

.T div:nth-child(1n + 18){
  margin-left: -500px;
}

.T div:nth-child(1n + 40){
  margin-left: -750px;
}

@for $i from 1 through 25 {
  .T div:nth-child(1n + #{$i * random(5)}) {
    animation-delay: 0.01s * $i ;
  }
  .T div:nth-child(1n + #{$i * random(5)}) {
    animation-delay: -0.01s * $i ;
  }
  // .T div:nth-child(1n + #{$i * 2}) {
  //   animation-delay: -0.04s * $i ;
  // }
}

@keyframes mymove {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50px);}
}